html {
  font-family: sans-serif;
}

/* Your CSS below here */
.large-box {
    width: 200px;  /* Width of the box */
    height: 100px; /* Height of the box */
    margin: 0 auto; /* Centers the box horizontally */
    display: flex; 
    align-items: center;  /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
    font-size: 18px;
    background-color: red;
    color: #FFFFFF; /* Contrasting white text */
    text-shadow: 1px 1px 1px black; /* Subtle black shadow */
    border-radius: 8px;
    border: 1px solid #b30000; /* Slightly darker red than backgroung */
    
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0.2) 100%
        /* Subtle diagonal gradient */
    );

    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.2),
    inset 1px 1px 3px rgba(255, 255, 255,0.3),
    inset -1px -1px 3px rgba(0, 0, 0,0.3);
    
}